client/node_modules
server/node_modules
.env
server/src/test.js
client/.next
client/package-lock.json
server/package-lock.json
server/coverage
client/coverage
server/src/resources/transaction/helpers/data.json
